@use 'responsive';

.contact-section-wrapper {
    display: flex;
    justify-content: center;
    padding: 130px 0 100px;

    @include responsive.md {
        padding: 100px 0 60px;
    }

    .contact-section {
        width: 90%;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        position: relative;

        @include responsive.md {
            align-items: flex-start;
            width: 100%;
            flex-direction: column-reverse;
            gap: 70px;
        }

        

        form {
            width: 35%;
            display: flex;
            flex-direction: column;
            gap: 15px;

            @include responsive.md {
                width: 60%;
            }

            @include responsive.sm {
                width: 90%;
            }

            @include responsive.xs {
                width: 100%;
            }

            .form-title {
                margin-bottom: 5px;
                font-size: 36px;
                color: #333333;
                font-weight: 600;

                @include responsive.md {
                    font-size: 30px;
                }
            }

            .line {
                display: inline-block;
                width: 90px;
                height: 3px;
                background-color: orange;
                position: absolute;
                left: -20px;
                top: 45px;

                @include responsive.md {
                    display: none;
                }
            }
        }

        .contact-info {
            width: 55%;

            @include responsive.md {
                width: 100%;
            }
        
            .contact-title {
                margin: 0 0 20px;
                font-size: 30px;
                color: #333333;
                font-weight: 600;

                @include responsive.md {
                    font-size: 26px;
                }
        
                &::after {
                    content: '🚀';
                    display: inline-block;
                    height: 40px;
                    transform: scale(0.92);
                }
            }
        
            .contact-description {
                margin: 0;
                font-size: 18px;
                line-height: 130%;

                @include responsive.md {
                    font-size: 16px;
                }
        
                &:nth-of-type(1) {
                    margin-bottom: 10px;
                }
            }
            .contacts-list-wrapper {
                display: none;

                @include responsive.md {
                    display: block;
                }

                .contacts-list {
                    padding-left: 0;
                    margin-top: 10px;
                    margin-bottom: 0;
                    display: grid;
                    grid-template-columns: repeat(3, 35px);
                    column-gap: 3px;
    
                    .contact-item {
                        list-style-type: none;
    
                        .contact-link {
                            display: block;
    
                            .contact-icon {
                                display: block;
                                width: 35px;
                                height: 35px;
                                transition-property: fill;
                                transition-duration: 0.3s;
                                transition-timing-function: ease-in-out;

                                &:hover {
                                    fill: #659388;   
                                }
                            }
                        }
                    }
                }
            }
            
        }

        .back-to-top-button {
            position: absolute;
            bottom: 0;
            right: -60px;
            padding: 10px;
            border-radius: 50%;
            background-color: #bfceb7;
            border: none;
            cursor: pointer;

            @include responsive.md {
                right: 0;
            }

            @include responsive.sm {
                right: -20px;
            }

            @include responsive.xs {
                right: 40%;
                bottom: -50px;
            }

            &:hover {
                opacity: 0.8;
            }

            svg {
                display: block;
                fill: #F4F1F1;
                width: 20px;
                height: 20px;

               
            }
        }
    }
}