@use 'responsive';

.work-container-wrapper { 
    padding-top: 150px;

    @include responsive.md {
        padding-top: 100px;
    }

    #projects {
        display: flex;
        flex-wrap: wrap;
        row-gap: 60px;
        justify-content: center; 

        @include responsive.md {
            row-gap: 30px;
        }

        .project-tile {
            width: 90%;
            text-align: left;
            margin: 0;
            text-transform: uppercase;
            font-size: 36px;
            font-weight: 700;
            color: #333333;

            @include responsive.md {
                width: 100%;
                font-size: 30px;
            }

            &::after {
                content: "";
                display: inline-block;
                height: 4px;
                width: 45px;
                background: #7400ff;
                margin-left: 3px;
                animation: blink 1s infinite;

                @include responsive.md {
                    width: 35px;
                    height: 3px;
                }

                @keyframes blink {
                    0% {
                        opacity: 0;
                    }
                    100% {
                        opacity: 1;
                    }
                }
            }
        }

        .project-items-wrapper {
            width: 90%;
            display: flex;
            flex-wrap: wrap;
            row-gap: 130px;


            @include responsive.lg {
                row-gap: 100px;
            }

            @include responsive.md {
                width: 100%;
                row-gap: 60px;
            }

            .project-item {
                display: flex;
                gap: 50px;
                color: #333333; 
                
                @include responsive.lg {
                    flex-direction: column-reverse;
                    gap: 20px;
                }

                &:nth-of-type(2) {
                    @include responsive.lg {
                        flex-direction: column;
                    }
                }
                
                

                .project-image-link {
                    width: calc(75% - 25px);

                    @include responsive.lg {
                        width: 100%;
                    }

                    .project-image {
                        display: block;
                        border-radius: 10px;
                        box-shadow: 0 3px 20px 3px rgb(0, 0, 0, 0.19);
                        width: 100%;
                        object-fit: cover;
                    }
                }
                

                .project-info {
                    width: calc(25% - 25px);
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    row-gap: 15px;
                    padding-top: 40px;

                    @include responsive.lg {
                        width: 100%;
                        padding-top: 0;
                        row-gap: 10px;
                    }

                    .project-item-title {
                        margin: 0;
                        color: #333333;
                        background-color: transparent;
                        font-size: 24px;
                        font-weight: 600;
                    }

                    .project-stack {
                        .stack-item {
                            display: inline-block;
                            padding: 5px;
                            font-size: 12px;
                            color: #f0f0f0;
                            background-color: #9966CC;
                        }
                    }

                    .project-item-description {
                        color: #333333;
                        margin: 0;
                        line-height: 120%;
                    }

                    .project-item-button {
                        /* align-self: center; */
                        text-decoration: none;
                        max-width: 90px;
                        padding: 10px 25px;
                        text-align: center;
                        font-size: 16px;
                        font-weight: 600;
                        color: #659388;
                        background-color: transparent;
                        border: 3px solid #659388;
                        transition-property: color, background-color;  
                        transition-duration: 0.3s;

                        &:hover {
                            color: #f0f0f0;
                            background-color: #659388;    
                        }

                        @include responsive.lg {
                            display: none;
                        }
                    }
                }
            }

        }

        .profile-button {
            text-decoration: none;
            text-align: center;
            color: #f0f0f0;
            background-color: #659388;
            max-width: 260px;
            padding: 15px 25px;
            font-weight: 600;
            display: flex;
            justify-content: space-between;
            align-items: center;
            column-gap: 20px;
            transition-property: opacity;  
            transition-duration: 0.3s;

            &:hover {
                opacity: 85%;
            }
        }
    }
}