@charset "UTF-8";
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.content-wrapper {
  font-family: "Work Sans", sans-serif;
}

.container {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 60px;
}
@media screen and (max-width: 469px) {
  .container {
    padding: 0 20px;
  }
}

.bg-image {
  background-color: #FAFAFA;
  background-image: url("./img/background-image.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.logo-wrapper .logo {
  width: 40px;
  height: 40px;
}
.logo-wrapper .logo-text-wrapper {
  display: flex;
  flex-direction: column;
}
.logo-wrapper .logo-text-wrapper .logo-text {
  text-transform: uppercase;
  font-family: "Merienda", cursive;
  color: #000000;
  font-size: 13px;
  font-weight: 400;
}

.footer .logo-wrapper .logo-text {
  color: #ffffff;
}

.bg-color {
  background-color: #f4f1f1;
}

.about-title,
.skills-title {
  margin: 0 0 40px;
  font-size: 36px;
  color: #333333;
}

.about-title::before,
.skills-title::before {
  content: "/";
  color: orange;
  font-size: 40px;
}

input[type=text],
input[type=email],
input[type=submit],
textarea {
  padding: 10px;
  border: none;
  /* border-radius: 4px; */
  font-family: "Work Sans", sans-serif;
  resize: none;
  max-width: 100%;
}

input[type=submit] {
  cursor: pointer;
  background-color: #659388;
  color: #f0f0f0;
  font-size: 16px;
  font-weight: 600;
}

input[type=submit]:hover {
  opacity: 85%;
}

.about-section-wrapper {
  padding-top: 100px;
  padding-left: 60px;
  display: flex;
  flex-direction: column;
  row-gap: 100px;
}
@media screen and (max-width: 660px) {
  .about-section-wrapper {
    padding-left: 0;
  }
}
@media screen and (max-width: 469px) {
  .about-section-wrapper {
    padding-top: 30px;
    row-gap: 70px;
  }
}
.about-section-wrapper .about-section {
  padding-top: 30px;
}
.about-section-wrapper .about-section .about-description {
  margin-top: 0;
  margin-bottom: 10px;
  max-width: 740px;
  font-size: 18px;
  line-height: 130%;
}
.about-section-wrapper .about-section .about-description.journey {
  position: relative;
  z-index: 1;
}
.about-section-wrapper .about-section .about-description.journey:after {
  position: absolute;
  display: inline-block;
  content: "{}";
  color: #bfceb7;
  transform: scale(7);
  rotate: 20deg;
  top: 10px;
  right: 120px;
  z-index: -1;
}
.about-section-wrapper .about-section .about-description .hello-item {
  color: #7400ff;
  font-size: 22px;
  font-weight: 600;
}
.about-section-wrapper .about-section .about-description .programming-item {
  font-size: 20px;
  font-weight: 500;
}
.about-section-wrapper .skills-section .skills-items-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (max-width: 660px) {
  .about-section-wrapper .skills-section .skills-items-wrapper {
    gap: 30px 20px;
  }
}
.about-section-wrapper .skills-section .skills-items-wrapper .skill-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  background-color: white;
  border-radius: 20px;
  height: 150px;
  width: 140px;
  box-shadow: 0 3px 10px 3px rgba(0, 0, 0, 0.19);
  transition-property: margin-top, margin-bottom;
  transition-duration: 0.3s;
}
@media screen and (max-width: 660px) {
  .about-section-wrapper .skills-section .skills-items-wrapper .skill-item {
    height: 120px;
    width: 110px;
  }
}
.about-section-wrapper .skills-section .skills-items-wrapper .skill-item .skill-icon {
  height: 80px;
}
@media screen and (max-width: 660px) {
  .about-section-wrapper .skills-section .skills-items-wrapper .skill-item .skill-icon {
    height: 50px;
  }
}
.about-section-wrapper .skills-section .skills-items-wrapper .skill-item:hover {
  margin-top: -20px;
  margin-bottom: 0;
}
.about-section-wrapper .skills-section .skills-items-wrapper .skill-item.different {
  background-color: #c2bebe;
}
.about-section-wrapper .skills-section .skills-items-wrapper .skill-item .item-title {
  text-align: center;
  color: #232323;
  font-size: 18px;
  font-weight: 500;
}
@media screen and (max-width: 660px) {
  .about-section-wrapper .skills-section .skills-items-wrapper .skill-item .item-title {
    font-size: 16px;
  }
}
.about-section-wrapper .skills-section .skills-items-wrapper .skill-item .item-title.different {
  color: #ede5e5;
}

.navbar-wrapper {
  padding-top: 10px;
}
.navbar-wrapper .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-wrapper .navbar .navbar-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  padding-left: 0;
  margin: 0;
}
@media screen and (max-width: 660px) {
  .navbar-wrapper .navbar .navbar-list {
    display: none;
  }
}
.navbar-wrapper .navbar .navbar-list .navbar-list-item {
  list-style-type: none;
}
.navbar-wrapper .navbar .navbar-list .navbar-list-item .navbar-list-link {
  display: inline-block;
  text-decoration: none;
  color: #333333;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 0;
  transition-property: color;
  transition-duration: 0.3s;
}
.navbar-wrapper .navbar .navbar-list .navbar-list-item .navbar-list-link:hover {
  color: #659388;
}
.navbar-wrapper .navbar .hamburger-menu {
  cursor: pointer;
  display: none;
}
@media screen and (max-width: 660px) {
  .navbar-wrapper .navbar .hamburger-menu {
    display: block;
  }
}
.navbar-wrapper .navbar .hamburger-menu .hamburger-menu-line {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px 0;
  border-radius: 25px;
  background-color: #333333;
}

.sidebar {
  position: fixed;
  top: 230px;
  background-color: white;
  padding: 30px 15px 30px 5px;
  border-radius: 0 20px 20px 0;
}
.sidebar .contacts {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
}
.sidebar .contacts .contact-link {
  text-decoration: none;
}
.sidebar .contacts .contact-link .contact-link-icon {
  display: block;
  width: 40px;
  height: 40px;
  transition-property: fill;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}
.sidebar .contacts .contact-link .contact-link-icon:hover {
  fill: #659388;
}
@media screen and (max-width: 660px) {
  .sidebar {
    display: none;
  }
}

#welcome-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  height: 100vh;
}
#welcome-section .portfolio-image {
  width: 320px;
  height: 320px;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  border-radius: 50%;
  /* border: 1px solid #4a4848ed; */
  box-shadow: 0px 0px 15px 0px rgba(113, 110, 108, 0.88);
}
@media screen and (max-width: 469px) {
  #welcome-section .portfolio-image {
    width: 260px;
    height: 260px;
  }
}
#welcome-section .welcome-section-subtitle {
  font-size: 24px;
  color: #333333;
  font-weight: 500;
  text-align: center;
  /* font-style: italic; */
}
#welcome-section .welcome-section-subtitle.top {
  margin-top: 15px;
}
#welcome-section .welcome-section-subtitle.bottom {
  margin-bottom: 30px;
}
#welcome-section .welcome-section-subtitle .name {
  font-size: 26px;
  font-weight: 600;
}
#welcome-section .welcome-section-title {
  font-family: "Bebas Neue", cursive;
  text-align: center;
  font-size: 46px;
  color: #9966CC;
  /* text-shadow: 1px 1px 1px #4c4746; */
  margin: 0;
}
@media screen and (max-width: 469px) {
  #welcome-section .welcome-section-title {
    font-size: 36px;
  }
}
#welcome-section .button {
  display: block;
  max-width: 160px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding: 15px 20px;
  color: #333333;
  font-size: 16px;
  font-weight: 500;
  background-color: transparent;
  border: 2px solid #333333;
  cursor: pointer;
  transition-property: color, border-color, margin-top, margin-bottom;
  transition-duration: 0.4s;
}
#welcome-section .button:hover {
  color: #659388;
  border-color: #659388;
  margin-top: 20px;
  margin-bottom: 0;
}

.work-container-wrapper {
  padding-top: 150px;
}
@media screen and (max-width: 469px) {
  .work-container-wrapper {
    padding-top: 100px;
  }
}
.work-container-wrapper #projects {
  display: flex;
  flex-wrap: wrap;
  row-gap: 60px;
  justify-content: center;
}
@media screen and (max-width: 469px) {
  .work-container-wrapper #projects {
    row-gap: 35px;
  }
}
.work-container-wrapper #projects .project-tile {
  width: 90%;
  text-align: left;
  margin: 0;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 700;
  color: #333333;
}
@media screen and (max-width: 660px) {
  .work-container-wrapper #projects .project-tile {
    width: 100%;
  }
}
.work-container-wrapper #projects .project-tile::after {
  content: "";
  display: inline-block;
  height: 4px;
  width: 45px;
  background: #7400ff;
  margin-left: 3px;
  animation: blink 1s infinite;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.work-container-wrapper #projects .project-items-wrapper {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  row-gap: 130px;
}
@media screen and (max-width: 469px) {
  .work-container-wrapper #projects .project-items-wrapper {
    row-gap: 70px;
  }
}
@media screen and (max-width: 980px) {
  .work-container-wrapper #projects .project-items-wrapper {
    row-gap: 100px;
  }
}
@media screen and (max-width: 660px) {
  .work-container-wrapper #projects .project-items-wrapper {
    width: 100%;
  }
}
.work-container-wrapper #projects .project-items-wrapper .project-item {
  display: flex;
  gap: 50px;
  color: #333333;
}
@media screen and (max-width: 980px) {
  .work-container-wrapper #projects .project-items-wrapper .project-item {
    flex-direction: column-reverse;
    gap: 30px;
  }
}
@media screen and (max-width: 980px) {
  .work-container-wrapper #projects .project-items-wrapper .project-item:nth-of-type(2) {
    flex-direction: column;
  }
}
.work-container-wrapper #projects .project-items-wrapper .project-item .project-image-link {
  width: calc(75% - 25px);
}
@media screen and (max-width: 980px) {
  .work-container-wrapper #projects .project-items-wrapper .project-item .project-image-link {
    width: 100%;
  }
}
.work-container-wrapper #projects .project-items-wrapper .project-item .project-image-link .project-image {
  display: block;
  border-radius: 10px;
  box-shadow: 0 3px 20px 3px rgba(0, 0, 0, 0.19);
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.work-container-wrapper #projects .project-items-wrapper .project-item .project-info {
  width: calc(25% - 25px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 15px;
  padding-top: 40px;
}
@media screen and (max-width: 980px) {
  .work-container-wrapper #projects .project-items-wrapper .project-item .project-info {
    width: 100%;
    padding-top: 0;
    row-gap: 10px;
  }
}
.work-container-wrapper #projects .project-items-wrapper .project-item .project-info .project-item-title {
  margin: 0;
  color: #333333;
  background-color: transparent;
  font-size: 24px;
  font-weight: 600;
}
.work-container-wrapper #projects .project-items-wrapper .project-item .project-info .project-stack .stack-item {
  display: inline-block;
  padding: 5px;
  font-size: 12px;
  color: #f0f0f0;
  background-color: #9966CC;
}
.work-container-wrapper #projects .project-items-wrapper .project-item .project-info .project-item-description {
  color: #333333;
  margin: 0;
  line-height: 120%;
}
.work-container-wrapper #projects .project-items-wrapper .project-item .project-info .project-item-button {
  /* align-self: center; */
  text-decoration: none;
  max-width: 90px;
  padding: 10px 25px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: #659388;
  background-color: transparent;
  border: 3px solid #659388;
  transition-property: color, background-color;
  transition-duration: 0.3s;
}
.work-container-wrapper #projects .project-items-wrapper .project-item .project-info .project-item-button:hover {
  color: #f0f0f0;
  background-color: #659388;
}
@media screen and (max-width: 980px) {
  .work-container-wrapper #projects .project-items-wrapper .project-item .project-info .project-item-button {
    display: none;
  }
}
.work-container-wrapper #projects .profile-button {
  text-decoration: none;
  text-align: center;
  color: #f0f0f0;
  background-color: #659388;
  max-width: 260px;
  padding: 15px 25px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  transition-property: opacity;
  transition-duration: 0.3s;
}
.work-container-wrapper #projects .profile-button:hover {
  opacity: 85%;
}

.contact-section-wrapper {
  display: flex;
  justify-content: center;
  padding: 130px 0 100px;
}
@media screen and (max-width: 660px) {
  .contact-section-wrapper {
    padding: 100px 0 60px;
  }
}
.contact-section-wrapper .contact-section {
  width: 90%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
}
@media screen and (max-width: 660px) {
  .contact-section-wrapper .contact-section {
    align-items: flex-start;
    width: 100%;
    flex-direction: column-reverse;
    gap: 70px;
  }
}
.contact-section-wrapper .contact-section form {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
@media screen and (max-width: 660px) {
  .contact-section-wrapper .contact-section form {
    width: 60%;
  }
}
@media screen and (max-width: 469px) {
  .contact-section-wrapper .contact-section form {
    width: 100%;
  }
}
.contact-section-wrapper .contact-section form .form-title {
  margin-bottom: 10px;
  font-size: 36px;
  color: #333333;
  font-weight: 600;
}
.contact-section-wrapper .contact-section form .line {
  display: inline-block;
  width: 90px;
  height: 3px;
  background-color: orange;
  position: absolute;
  left: -20px;
  top: 45px;
}
@media screen and (max-width: 660px) {
  .contact-section-wrapper .contact-section form .line {
    display: none;
  }
}
.contact-section-wrapper .contact-section .contact-info {
  width: 55%;
}
@media screen and (max-width: 660px) {
  .contact-section-wrapper .contact-section .contact-info {
    width: 100%;
  }
}
.contact-section-wrapper .contact-section .contact-info .contact-title {
  margin: 0 0 20px;
  font-size: 30px;
  color: #333333;
  font-weight: 600;
}
.contact-section-wrapper .contact-section .contact-info .contact-title::after {
  content: "🚀";
  display: inline-block;
  height: 40px;
  transform: scale(0.92);
}
.contact-section-wrapper .contact-section .contact-info .contact-description {
  margin: 0;
  font-size: 18px;
  line-height: 130%;
}
.contact-section-wrapper .contact-section .contact-info .contact-description:nth-of-type(1) {
  margin-bottom: 10px;
}
.contact-section-wrapper .contact-section .contact-info .contacts-list-wrapper {
  display: none;
}
@media screen and (max-width: 660px) {
  .contact-section-wrapper .contact-section .contact-info .contacts-list-wrapper {
    display: block;
  }
}
.contact-section-wrapper .contact-section .contact-info .contacts-list-wrapper .contacts-list {
  padding-left: 0;
  margin-top: 15px;
  margin-bottom: 0;
  display: grid;
  grid-template-columns: repeat(4, 35px);
  -moz-column-gap: 12px;
       column-gap: 12px;
}
.contact-section-wrapper .contact-section .contact-info .contacts-list-wrapper .contacts-list .contact-item {
  list-style-type: none;
}
.contact-section-wrapper .contact-section .contact-info .contacts-list-wrapper .contacts-list .contact-item .contact-link {
  display: block;
}
.contact-section-wrapper .contact-section .contact-info .contacts-list-wrapper .contacts-list .contact-item .contact-link .contact-icon {
  display: block;
  width: 35px;
  height: 35px;
}

.footer-wrapper {
  background-color: #222222;
}
.footer-wrapper .footer {
  padding: 20px 0;
  display: flex;
  justify-content: center;
}
.footer-wrapper .footer .footer-item {
  font-size: 16px;
  color: #777777;
  font-weight: 200;
  text-align: center;
}
@media screen and (max-width: 469px) {
  .footer-wrapper .footer .footer-item {
    font-size: 14px;
  }
}

/* @media (max-width: 600px) {
    .container {
    width: 600px;
  }
} *//*# sourceMappingURL=style.css.map */